## Version: $Id:  $
## 
## 

## Commentary:
## 
## 

## Changelog:
## 
## 

## 
## Code starts here
## #############################################################################

node_modules/
out/
*.vsix
.vscode-test/
.DS_Store

## #############################################################################
## Code ends here
